In [92]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [93]:
import numpy as np
import pandas as pd

In [94]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [95]:
import datetime as dt

In [96]:
from flask import Flask, jsonify

In [97]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement

In [98]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [99]:
dir(Measurement)

['__abstract__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__weakref__',
 '_sa_class_manager',
 '_sa_decl_prepare',
 '_sa_raise_deferred_config',
 '_sa_registry',
 'classes',
 'date',
 'id',
 'metadata',
 'prcp',
 'prepare',
 'registry',
 'station',
 'tobs']

## D1: Determine the Summary Statistics for June

In [142]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [146]:
#  3. Convert the June temperatures to a list.

june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [147]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
jdf = pd.DataFrame(june_results, columns=['date','temperature'])
jdf = jdf.sort_index()

In [148]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
jdf.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [138]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [149]:
# 7. Convert the December temperatures to a list.
dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [150]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
ddf = pd.DataFrame(dec_results, columns=['date','temperature'])
ddf = ddf.sort_index()

In [151]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
ddf.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000